* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}

#root {
  width: 100%;
  height: 100vh;
}

Navbar {
  width: 100%;
  min-height: 10vh;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #008f39;
}
Navbar .navBarLogo {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
Navbar .navBarLogo img {
  width: 35%;
  min-width: 100px;
}
Navbar .navBarLinks {
  width: 100%;
}
Navbar .navBarLinks ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
Navbar .navBarLinks ul button {
  width: 150px;
  padding: 5px;
  border-radius: 15px;
  border: none;
  background-color: transparent;
}
Navbar .navBarLinks ul button a {
  text-decoration: none;
  padding: 5px 10px;
  color: #f5f5f5;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all 0.1s ease-in-out;
}
Navbar .navBarLinks ul button a:hover {
  background-color: #85833e;
  padding: 5px 10px;
  border-radius: 10px;
}
Navbar .navBarCart {
  width: 10%;
  display: flex;
  justify-content: center;
}
Navbar .navBarCart .linkCarrito {
  transition: all 0.15s ease-in-out;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position: relative;
}
Navbar .navBarCart .linkCarrito:hover {
  rotate: -15deg;
}
Navbar .navBarCart .linkCarrito span {
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  background-color: #f90000;
  border-radius: 50%;
  font-size: 1.25rem;
}

.cart {
  padding: 5px;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart .cartCard {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}
.cart .cartCard .prodInCart {
  max-width: 100%;
  height: auto;
  margin: 5px 0;
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 143, 57, 0.1333333333);
  border: 2px dotted #85833e;
  border-radius: 5px;
}
.cart .cartCard .prodInCart img {
  max-width: 20%;
  height: 20%;
  margin: 5px;
  align-self: center;
}
.cart .cartCard .prodInCart .prodInCartInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.15em;
}
.cart .cartCard .prodInCart .prodInCartInfo .addInCart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: auto;
}
.cart .cartCard .prodInCart .prodInCartInfo .addInCart .btnAddInCart, .cart .cartCard .prodInCart .prodInCartInfo .addInCart .btnSubInCart {
  background-color: #008f39;
  margin: 2.5px 5px;
  width: 20%;
  border-radius: 10px;
}
.cart .cartCard .prodInCart .prodInCartInfo .addInCart .btnSubInCart {
  background-color: #f90000;
}
.cart .cartCard .prodInCart .prodInCartInfo .btnDeleteThis {
  align-self: center;
  width: auto;
  border-radius: 15px;
  padding: 5px;
  color: #f90000;
}
.cart .cartCard .prodInCart .prodInCartInfo .btnDeleteThis:hover {
  background-color: rgba(249, 0, 0, 0.1333333333);
}
.cart .cartCard .btnVolver {
  background-color: #008f39;
  padding: 5px;
  margin: 5px;
  letter-spacing: 1.5px;
  border-radius: 15px;
}
.cart .cartCard .btnVolver:hover {
  background-color: rgba(0, 143, 57, 0.8);
}
.cart .totalPrice {
  width: auto;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  border: 1px solid #101010;
}
.cart .totalPrice span {
  margin: 0 2.5px;
  margin: 0 2.5px;
  border-bottom: 2.5px dotted #008f39;
}
.cart .btnCard {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.cart .btnCard .btnClearCart, .cart .btnCard .btnBuyCart {
  color: #f90000;
  width: 25%;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  font-size: 1.3em;
}
.cart .btnCard .btnClearCart:hover, .cart .btnCard .btnBuyCart:hover {
  background-color: rgba(249, 0, 0, 0.1333333333);
}
.cart .btnCard .btnBuyCart {
  color: #008f39;
}
.cart .btnCard .btnBuyCart:hover {
  background-color: rgba(0, 143, 57, 0.1333333333);
}

/*ITEM LIST CONTAINER*/
.container {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .gallery {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container .gallery .card {
  background-color: #f5f5f5;
  box-shadow: 0px 0px 30px 2px #101010;
  min-width: 250px;
  min-height: 400px;
  width: 20%;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease-in-out;
}
.container .gallery .card:hover {
  background-color: #008f39;
}
.container .gallery .card img {
  max-width: 100%;
  max-height: 40%;
  padding: 2.5px;
  border-radius: 5px;
}
.container .gallery .card h3 {
  padding: 2.5px 0;
  font-size: large;
}
.container .gallery .card p {
  font-weight: 500;
}
.container .gallery .card .botonInfo {
  background-color: #008f39;
  cursor: pointer;
  width: 200px;
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 30px;
  letter-spacing: 2px;
  font-weight: 700;
}
.container .gallery .card .botonInfo .linkInfo {
  color: #101010;
  text-decoration: none;
}
.container .gallery .card:hover .botonCompra {
  background-color: #f5f5f5;
}
.container .gallery .card:hover .botonCompra:hover {
  background-color: #f90000;
}
.container .gallery .card:hover .botonInfo {
  background-color: #f5f5f5;
}
.container .gallery .card:hover .botonInfo:hover {
  background-color: #f90000;
}
.container .cardDetail {
  display: flex;
  width: 100%;
  min-height: 50vh;
  border: 1px solid rgba(16, 16, 16, 0.9333333333);
  border-radius: 15px;
  background-color: rgba(0, 143, 57, 0.3333333333);
  padding: 5px;
}
.container .cardDetail .ImgCardDetail {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.container .cardDetail .ImgCardDetail img {
  border-radius: 15px;
  width: 100%;
}
.container .cardDetail .infoCardDetail {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .cardDetail .infoCardDetail p {
  font-size: larger;
}
.container .addCartDetail {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
}
.container .addCartDetail .containerBtnCart {
  width: 100%;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart {
  display: flex;
  width: 100%;
  padding: 2.5px;
  justify-content: space-around;
  align-items: center;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart .btnAdd {
  border: none;
  background-color: #85833e;
  width: 33%;
  padding: 5px;
  margin: 2.5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart .btnAdd:hover {
  background-color: #008f39;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart .btnAdd:active {
  background-color: #85833e;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart .divCounter {
  padding: 0 10px;
  color: #008f39;
  font-size: 32px;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart .btnSubs {
  border: none;
  background-color: #85833e;
  width: 33%;
  padding: 5px;
  margin: 2.5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart .btnSubs:hover {
  background-color: #f90000;
}
.container .addCartDetail .containerBtnCart .divAddSubsCart .btnSubs:active {
  background-color: #85833e;
}
.container .addCartDetail .containerBtnCart .divBuy {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container .addCartDetail .containerBtnCart .divBuy .btnAddCartOn {
  background-color: #008f39;
  outline: 1px solid #101010;
  width: 75%;
  margin: 2.5px;
  padding: 5px;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 30px;
}
.container .addCartDetail .containerBtnCart .divBuy .btnAddCartOn:hover {
  background-color: rgba(0, 143, 57, 0.6666666667);
  outline: 1px solid rgba(0, 143, 57, 0.6666666667);
}
.container .addCartDetail .containerBtnCart .divBuy .btnAddCartOff {
  background-color: #788c94;
  color: #566a72;
  cursor: default;
  width: 75%;
  margin: 2.5px;
  padding: 5px;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 30px;
}
.container .addCartDetail .linkCheckout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.container .addCartDetail .linkCheckout .botonCheckout {
  background-color: #85833e;
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: large;
}
.container .addCartDetail .linkCheckout .botonCheckout:hover {
  background-color: rgba(0, 143, 57, 0.6666666667);
}
.container .btnVolver {
  background-color: #008f39;
  padding: 5px;
  margin: 5px;
  letter-spacing: 1.5px;
  border-radius: 15px;
}
.container .btnVolver:hover {
  background-color: rgba(0, 143, 57, 0.8);
}

/*FOOTERS*/
.footer {
  background-color: rgba(238, 238, 238, 0.8);
  min-height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer img {
  min-width: 100px;
  width: 25%;
}
.footer ul {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer ul li {
  width: 100%;
  color: #000000;
  list-style: none;
  padding: 5px;
}
.footer ul li span {
  color: #f90000;
  font-size: 1.5em;
}

/*------------------------------------------------------------------*/
@media screen and (max-width: 1000px) {
  Navbar .navBarLinks ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  Navbar .navBarLinks ul button {
    width: auto;
  }
  Navbar .navBarLinks ul button a {
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: medium;
  }
}/*# sourceMappingURL=App.css.map */